[submodule "SimpleWebsocketServer"]
	path = SimpleWebsocketServer
	url = https://github.com/viscasa/advprog-modul10-webchat-websocket.git
[submodule "YewChat"]
	path = YewChat
	url = https://github.com/viscasa/advprog-modul10-webchat-yewchat.git
